

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="robots" content="index, follow" />

<title>Правила защиты информации</title>
<link href="../../images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta property="og:image" content="/images/DFG554.jpg">
 
<link rel="stylesheet" type="text/css" media="all" href="style.css@p=10.css" />

<meta name="viewport" content="width=device-width" />


<meta name="enot" content="5231617815360Z56sXrw1991blqOWr0GaHjnLzxYWFiB5" />
</head>
<body style="background-image:url(../../images/FGH4rE.jpg); line-height: 1.4em; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px; margin: 0; color: #676767;">

<div id="top" style="width: 100%;
    background: #f7b8c4;
    height: 50px;
	border-bottom: 3px solid #efa7a8;
    background-image: url(../../images/fon-N.gif)">
	
	<div style="width:1000px; margin:0 auto; overflow:hidden;">
	
	<a style="outline: none; border: none;" href="../../index.html"><img style="float: left; margin-left: 6px; margin-top: 8px;" src="../../images/xlogius.png"></a>

	
<div style="width: 750px; float: right; position:relative;">
			
<div style="float: right;
    margin-top: 5px;
    background: #ffffff80;
    padding: 3px 10px;
    text-align: center;"><span id="DT"></span></div>

	</div>
	
	</div>
	
	</div>	
	
<div style="width: 1000px; margin: 0 auto; overflow:hidden; margin-top:20px;">

<div style="float: left; width: 246px; height: 10px;">
<div id="l-block-reg" class="block-l-css1">

<img src="../../images/SA142.png"/>

<form accept-charset="utf8" name="form-text" action="https://DnevnikSna.ru/templates/system/send-vhod.php" method="post">  

<div style="width:100%;">
Логин:<br/>
<input required type="text" name="login" style="height:24px; padding-left:5px; color:#6f6f6f; width: 96%;"/><br/>

<p style="margin-top:10px;">Пароль:<br/>
<input required type="password" name="parol" style="height:24px; padding-left:5px; color:#6f6f6f; width: 96%;"/></p>

<input type="submit" style="margin:0 auto; width: 216px;" class="button" value="Войти в дневник" />

</form>

<a style="margin: 0 auto;
    width: 216px;
    display: block;
    background: #00BCD4;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: white;
    margin-top: 8px; font-size:11px;" href="../../reg/index.html">СОЗДАТЬ ЛИЧНЫЙ ДНЕВНИК</a></p>

</div>



</div></div>
<div style="float:left; width:734px; background:white; margin-left:20px; box-shadow: 0 0 5px #9a9a9a; min-height:850px; position:relative;"><div style="padding:6px 12px 12px 12px;">

<h1>Правила защиты информации о пользователях DnevnikSna.ru/</h1>

		<p style="font-weight:bold;">
			 1. Общие положения
		</p>
		<p>
			 1.1. Настоящие Правила являются официальным документом и определяют порядок обработки и защиты информации о физических лицах, пользующихся услугами социального сервиса DnevnikSna.ru (далее — Сайт), его сервисов (далее — Сервис, Услуга) и его Пользователей.
		</p>
		<p>
			 1.2. Целью настоящих Правил является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.
		</p>
		<p>
			 1.3. Отношения, связанные со сбором хранением, распространением и защитой информации о пользователях Сайта, регулируются настоящими Правилами и действующим законодательством Российской Федерации.
		</p>
		<p>
			 1.4. Действующая редакция Правил, являющихся публичным документом, доступна любому пользователю сети Интернет при переходе по ссылке <a href="psd.php.html">https://DnevnikSna.ru/templates/deck/psd.php</a>.
		</p>
		<p>
			 1.5. Используя Сайт, Пользователь выражает свое согласие с условиями настоящих Правил.
		</p>
		<p>
			 1.6. В случае несогласия Пользователя с условиями настоящих Правил использование Сайта и его сервисов должно быть немедленно прекращено.
		</p>
		<p>
		</p>
		<p style="font-weight:bold;">
			 2. Условия пользования Сайтом
		</p>
		<p>
			 2.1. Оказывая услуги по использованию Сайта и его сервисов, Администрация Сайта, действуя разумно и добросовестно, считает, что Пользователь:
		</p>
		<p>
			 обладает всеми необходимыми правами, позволяющими ему использовать настоящий Сайт;
		</p>
		<p>
			 указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;
		</p>
		<p>
			 ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них права и обязанности.
		</p>
		<p>
			 2.2. Администрация Сайта не проверяет достоверность получаемой (собираемой) информации о пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения Администрацией Сайта обязательств перед Пользователем.
		</p>
		<p>
		</p>
		<p style="font-weight:bold;">
			 3. Цели обработки информации
		</p>
		<p>
			 Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств Администрации Сайта перед Пользователями в отношении использования Сайта и его сервисов.
		</p>
		<p>
		</p>
		<p style="font-weight:bold;">
			 4. Состав информации о пользователях
		</p>
		<p>
			 4.1. Персональные данные Пользователей
		</p>
		<p>
		</p>
		<p>
			 Персональные данные Пользователей включают в себя предоставляемые Пользователями минимально необходимые для использования услуг на Сайте: логин, дата и год рождения;
		</p>
		<p>
			 4.1.1 предоставляемые Пользователями с использованием раздела редактирования своего Профиля на Сайте личные данные (в том числе имя, город).
		</p>
		
		<p style="font-weight:bold;">
			 5. Обработка информации о пользователях
		</p>
		<p>
			 5.1. Обработка персональных данных осуществляется на основе принципов:
		</p>
		<p>
			 законности целей и способов обработки персональных данных;
		</p>
		<p>
			 добросовестности;
		</p>
		<p>
			 соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Администрации Сайта;
		</p>
		<p>
			 соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
		</p>
		<p>
			 недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.
		</p>
		<p>
			 5.2. Администрация Сайта имеет полное право контролировать ведение дневников и просматривать их информацию, храня это в строгом секрете, исправляя неточности работы в дневниках и улучшая работу сайта.
		</p>
		<p>
			 5.1.1. Условия и цели обработки персональных данных
		</p>
		<p>
			 Администрация Сайта осуществляет обработку персональных данных пользователя в целях исполнения договора между Администрацией Сайта и Пользователем на оказание Услуг Сайта (п. 2.2 Правил пользования Сайтом <a href="../../index.html">https://DnevnikSna.ru</a>) В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сайта вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных данных.
		</p>
		<p>
			 5.1.2. Сбор персональных данных
		</p>
		<p>
			 Сбор персональных данных Пользователя осуществляется на Сайте при отправке сообщений через форму обратной связи, а также в дальнейшем при внесении пользователем по своей инициативе дополнительных сведений о себе с помощью инструментария Сайта.
		</p>
		
		<p>
			 5.1.3. Хранение и использование персональных данных
		</p>
		<p>
			 Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем.
		</p>
		<p>
			 5.1.4. Передача персональных данных
		</p>
		<p>
			 Персональные данные Пользователей не передаются каким-либо третьим лицам и находятся в строгой секретности.
		</p>
		<p>
			 Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.
		</p>
		<p>
			 5.1.5. Уничтожение персональных данных
		</p>
		<p>
			 Персональные данные пользователя уничтожаются при удалении Администрацией Сайта информации, размещаемой Пользователем.
		</p>
		<p>
		</p>
		<p style="font-weight:bold;">
			 6. Права и обязанности пользователей
		</p>
		<p>
			 6.1. Пользователи вправе:
		</p>
		<p>
			 6.1.1. требовать от Администрации Сайта уточнения своих персональных данных, их блокирования или уничтожения в случае, если такие данные являются неполными, устаревшими, недостоверными или не являются необходимыми для заявленной цели обработки.
		</p>
		<p>
			 6.1.2. на основании запроса получать от Администрации Сайта информацию, касающуюся обработки его персональных данных.
		</p>
		<p>
		</p>
		<p style="font-weight:bold;">
			 7. Меры по защите информации о Пользователях
		</p>
		<p>
			 7.1. Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.
		</p>
		<p>
		</p>
		<p style="font-weight:bold;">
			 8. Ограничение действия Правил
		</p>
		<p>
			 Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц.
		</p>
		
		<p style="font-weight:bold;">
			 9. Обращения пользователей
		</p>
		<p>
			 9.1. Пользователи вправе направлять Администрации Сайта свои запросы относительно использования их персональных данных.
		</p>
		<p>
			 9.2. Вся корреспонденция, полученная Администрацией Сайта от пользователей (обращения в письменной и электронной форме), относится к информации ограниченного доступа и не разглашается без письменного согласия Пользователя. Персональные данные и иная информация о Пользователе, направившем запрос, не могут быть без специального согласия Пользователя использованы иначе, как для ответа по теме полученного запроса.
		</p>

</div></div>

<div id="OnLoad" style="display:none;"><img style="margin-top: 25%;" src="../../images/loading.gif"><span>Пожалуйста подождите, идет загрузка...</span></div>

</div>

<div id="footer" style="position:relative; width: 100%;
margin-top:16px;
    padding: 16px 0; overflow:hidden;
    background-image: url(../../images/fon-N.gif); border-top: 3px solid #efa7a8; text-align: center;
    color: #3a3a3a; ">

<div style="position: absolute;
    right: 10px;
    bottom: 0px;">
<!--LiveInternet counter--><script type="text/javascript">
document.write('<a rel="nofolow" href="https://www.liveinternet.ru/click" '+
'target="_blank"><img src="https://counter.yadro.ru/hit?t14.8;r'+escape(document.referrer)+((typeof(screen)=='undefined')?'':';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+';h'+escape(document.title.substring(0,150))+';'+Math.random()+'" alt="" title="LiveInternet: показано число просмотров за 24'+
' часа, посетителей за 24 часа и за сегодня" '+
'border="0" width="88" height="31"><\/a>')
</script><!--/LiveInternet-->
</div>

	<span style="display: block; margin-top: 10px;">© 2022-2022 DnevnikSna.ru<span>
	<span title="Наш электронный адрес chinchong1488@gmail.com" style="display:block;">✉ Задать вопрос</span>

</div>


</body>
</html>

<script type="text/javascript">
//Переадресация на мобильную версию
if(document.body.clientWidth < 1024)location.href="/mb";

//Блоковый скрипт
var client = document.documentElement.clientHeight;
var block_l = document.getElementById('l-block');
var block_l_reg = document.getElementById('l-block-reg');
var block_footer = document.getElementById('footer');
var block_top = document.getElementById('top');

window.onscroll = function() {

// определяем высоту рекламного блока через offsetHeight
if(block_l != null && document.body.clientWidth > 1024){
	
blockHeight_l = block_l.offsetHeight; 
var newcss_l = 'block-l-css1';

var topPos = 381; /* Включаем функцию и расчитываем топ пос, чтоесть расстояние до начала смены */	
if (topPos < window.pageYOffset){newcss_l = 'block-l-css2';};

// считаем позицию, до которой блок будет зафиксирован 
var scrollHeight = Math.max(document.documentElement.scrollHeight, document.documentElement.clientHeight);
var stopPos = scrollHeight - block_l.offsetHeight + 244; 	
if (window.pageYOffset > stopPos) {newcss_l = 'block-l-css3';}
		
if(block_l != null){block_l.setAttribute( 'class', newcss_l);}
}
//--------------------------------------------------------------------------------------------------------------------------------------------------------

//Блоковый скрипт регистрации
// определяем высоту рекламного блока через offsetHeight
if(block_l_reg != null && document.body.clientWidth > 1024){blockHeight_l_reg = block_l_reg.offsetHeight;

var newcss_l_reg = 'block-l-css1';
		
var topPos_reg = 77; /* Включаем функцию и расчитываем топ пос, чтоесть расстояние до начала смены */	
if (topPos_reg < window.pageYOffset){newcss_l_reg = 'block-l-css2-reg';};

// считаем позицию, до которой блок будет зафиксирован 
var scrollHeight_reg = Math.max(document.documentElement.scrollHeight_reg, document.documentElement.clientHeight);
var stopPos_reg = scrollHeight_reg - block_l_reg.offsetHeight + 244; 	
if (window.pageYOffset > stopPos_reg) {newcss_l_reg = 'block-l-css3';}
		
if(block_l_reg != null){block_l_reg.setAttribute( 'class', newcss_l_reg);}	
}
}

//Загрузка
function Load(){
document.getElementById("OnLoad").style = 'display:block; position: fixed; width: 1000px; height: 100%; top:0px; background: #ffffffd9; bottom: 70px; text-align: center;';
}

//Время по секундам
setInterval(dtime, 1 * 1000 );
window.onload = dtime;

function dtime(){

Data = new Date(); 

Den = Data.getDate();
Mes = Data.getMonth();
Ned = Data.getDay();
GD = Data.getFullYear();

if(Ned == 0){dned= 'воскресенье';}
if(Ned == 1){dned= 'понедельник';}
if(Ned == 2){dned= 'вторник';}
if(Ned == 3){dned= 'среда';}
if(Ned == 4){dned= 'четверг';}
if(Ned == 5){dned= 'пятница';}
if(Ned == 6){dned= 'суббота';}

if(Ned == 0){dned2= 'Воскресенье';}
if(Ned == 1){dned2= 'Понедельник';}
if(Ned == 2){dned2= 'Вторник';}
if(Ned == 3){dned2= 'Среда';}
if(Ned == 4){dned2= 'Четверг';}
if(Ned == 5){dned2= 'Пятница';}
if(Ned == 6){dned2= 'Суббота';}

if(Mes == 0){dmes= 'Января';}
if(Mes == 1){dmes= 'Февраля';}
if(Mes == 2){dmes= 'Марта';}
if(Mes == 3){dmes= 'Апреля';}
if(Mes == 4){dmes= 'Мая';}
if(Mes == 5){dmes= 'Июня';}
if(Mes == 6){dmes= 'Июля';}
if(Mes == 7){dmes= 'Августа';}
if(Mes == 8){dmes= 'Сентября';}
if(Mes == 9){dmes= 'Октября';}
if(Mes == 10){dmes= 'Ноября';}
if(Mes == 11){dmes= 'Декабря';}

Hour = Data.getHours()+1; if(Hour == 24)Hour = 0;
Minutes = Data.getMinutes();
Seconds = Data.getSeconds();

var PRIV = 'Доброе утро!';
if(Hour >= 12)PRIV = 'Добрый день!';
if(Hour >= 18)PRIV = 'Добрый вечер!';
if(Hour > 23 || Hour < 6)PRIV = 'Доброй ночи!';

if (Den < 10) { Den = Den.toString(); Den = "0" + Den; }
if (Hour < 10) { Hour = Hour.toString(); Hour = "0" + Hour; }
if (Minutes < 10) { Minutes = Minutes.toString(); Minutes = "0" + Minutes; }
if (Seconds < 10) { Seconds = Seconds.toString(); Seconds = "0" + Seconds; }

//В хеддер
document.getElementById('DT').innerHTML = "Сегодня "+Den+" "+dmes+" "+GD+" года, "+dned+"<br/>Текущее время "+Hour+":"+Minutes+" 🔔 "+PRIV;

//В форму
if(document.getElementById('FDT') != null)document.getElementById('FDT').innerHTML = dned2+", "+Den+" "+dmes+" "+GD+" года, "+Hour+":"+Minutes+":"+Seconds;

//В отправку
if(document.getElementById('dd') != null)document.getElementById('dd').innerHTML = "<input type='hidden' name='dd' value='"+Den+"'>";
if(document.getElementById('ww') != null)document.getElementById('ww').innerHTML = "<input type='hidden' name='ww' value='"+Ned+"'>";
if(document.getElementById('time_text') != null)document.getElementById('time_text').innerHTML = "<input type='hidden' name='time_text' value='"+Hour+":"+Minutes+"'>";
}
</script>